.contenHome {
  height: 1080px;
  width: auto;
  margin: 25px;
  margin-left: -390px;
}

:target::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
}

#contenTitle {
  padding-top: 50px;
  width: 1000px;
  height: 40px;
  display: flex;

  margin-left: 40%;

  line-height: 40px;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  animation: change 6s infinite;
}

@keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: -165px;
  }
  80% {
    margin-top: -165px;
  }
  85% {
    margin-top: -90px;
  }
  95% {
    margin-top: -90px;
  }
}
#buttonGroupRds {
  width: 248px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 38%;
}

@media (max-width: 768px) {
  #icons {
    width: 50%;
    height: 50%;
    margin: 20px;
  }
  #buttonGroupRds {
    width: 60px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
  }
  .contenHome {
    height: 700px;
    width: auto;
    margin-left: -20px;
    background-size: "cover";
    background-position: "center";
    background-repeat: "no-repeat";
  }
  #contenTitle {
    width: auto;
    height: 40px;
    margin-top: -50px;
    margin-left: 2%;
    padding-top: 0px;
  }
  @keyframes change {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: -165px;
    }
    80% {
      margin-top: -165px;
    }
    85% {
      margin-top: -90px;
    }
    95% {
      margin-top: -90px;
    }
  }
}

#designText {
  text-align: center;
}

#icons img {
  display: none; /* Oculta la etiqueta de imagen si decides usar el fondo */
}
