.contenHome {
  height: 1080px;
  width: 1918px;
  margin: 25px;
  margin-left: -390px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Design//wllpaper3.jpg");
  background-size: "cover";
  background-position: "center";
  background-repeat: "no-repeat";
}

/* .imgBck {
  height: 1080px;
  width: 1920px;
} */

:target::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
}

#contenTitle {
  padding-top: 50px;
}
#buttonGroupRds {
  width: 248px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 38%;
}

@media (max-width: 768px) {
  #icons {
    width: 50%;
    height: 50%;
    margin: 20px;
  }
  #buttonGroupRds {
    width: 60px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
  }
  .contenHome {
    height: 700px;
    width: 370px;
    margin-left: -20px;
    background-size: "cover";
    background-position: "center";
    background-repeat: "no-repeat";
  }
}

#designText {
  text-align: center;
}

#icons img {
  display: none; /* Oculta la etiqueta de imagen si decides usar el fondo */
}
