.contenHome {
  height: 1080px;
  margin: 25px;
}

:target::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
}

#contenTitle {
  padding-top: 50px;
}
#buttonGroupRds{
  width: 248px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 38%;
}

@media (max-width: 768px) {
  #icons {
    width: 50%;
    height: 50%;
    margin: 20px;
  }
  #buttonGroupRds{
    width: 60px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
  }
}

#designText {
  text-align: center;
}

#icons img {
  display: none; /* Oculta la etiqueta de imagen si decides usar el fondo */
}


